---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -misc-use-anonymous-namespace
WarningsAsErrors: ""
FormatStyle: none

